@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700');

body{
    background:#d73f09;
    margin: 0px 0px 0px;
}
footer {
    bottom: -150px;
    height: 200px;
}

/* THEMES */
.darkLook {
    color: #fcfcfc!important;
    background: #202020!important;
}
.dark {
    background: #303030;
  }
  .dark .ui_copyright {
    color: #fff;
  }
  .dark .ui_copyrightLink:hover {
    color: #2d9fff;
    border-bottom: 1px solid #00a4db;
  }
  .dark .ui_disclaimerLink:hover {
    color: #2d9fff;
    border-bottom: 1px solid #00a4db;
  }
  .darkLook .expandGroup {
    background: #404040;
  }
  .darkLook .topGroup {
    background: #404040;
  }
  .darkLook #revealSidebar path{
      fill:#fff;
  }
  .darkLook .accessibilityGroup{
      background:#404040;
  }
  .darkLook .toolIcon path,.darkLook .toolIcon polygon{
    fill:#fff;
}
.darkLook .lightTool {
    fill: #ccc!important;
}
.toolbarHolder{
    background:transparent!important;
}
.darkLook .pageTitle{
    color:#fcfcfc;
}
.darkLook .pageDirection{
    color:#afafaf;
}
.darkLook .unitIntro{
    color:#afafaf;
}
.darklook .pageIntro{
    color:#fcfcfc
}
.darkLook .topMiniNav{
    border-bottom-color:#404040;
}


/* CONTENT VIEW */
.contentView{
    width: calc(100% - 450px);
    min-height: 115%;
    padding-top: calc(15% + 25px);
    margin-top: -15%;
    padding-bottom:55px;
    margin-bottom: calc(-15% - 55px);
    display:flex;
    align-items:center;
    flex-direction:column;
    background: #fff;
    position: relative;
    transform: translate3d(0);
    z-index: 2;
    box-shadow: 0px 0px 50px rgba(0,0,0,.10);
    overflow:hidden;
    transition: width 1s ease-in-out;
}
.fullScreen {
    width: 100%!important;
}
.mobile .showSidebar {
    width: 0px!important;
}
.mobile .showSidebar .accessibilityGroup{
    display:none;
}
.contentArea{
    width: calc(93% - 60px);
    margin-right: 60px;
    max-width:960px;
}

/* TOOLBAR COMPONENT */
.toolbarHolder {
    width: 50px;
    position: fixed;
    right: 470px;
    transition: all 1s ease-in-out;
}
.expandGroup {
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 45px;
}
.topGroup {
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 45px;
    position:fixed;
    width: 50px;
    bottom: 70px;
}
.toolIcon svg {
    width: 25px;
}
.toolIcon path {
    fill: #505050;
    transition:all .2s ease-in-out;
}
.toolPlaceholder{
    cursor: pointer;
    outline: 0;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
}
.toolPlaceholder:hover path,.toolPlaceholder:focus path{
    fill:#d73f09!important;
}
.accessibilityGroup {
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:15px;
    padding-bottom:15px;
    position:relative;
    border-radius: 45px;
    margin-top: 15px;
    flex-direction:column;
}
.lightTool {
    fill: #7B7B7B!important;
}
.toolFont, .toolExpand{
    margin-top:0px;
}
.fullScreenToolbar {
    right: 20px!important;
}
#revealSidebar {
    width: 18px;
}
#toolExpand{
    width:22px;
}
.fontChange {
    position: absolute;
    left: 5000px;
    width: 150px;
    height: 65px;
    background: #e82c00;
    border-radius: 15px;
    display:flex;
    outline:0;
    top: -4px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
}
.fontChange:focus{
    left: -160px;
}
.fontChange h3 {
    margin: 0;
    position: absolute;
    top: 5px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.speechChange {
    position: absolute;
    left: 5000px;
    width: 120px;
    height: 65px;
    background: #e82c00;
    border-radius: 15px;
    display:flex;
    outline:0;
    top: 75px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
}
.speechChange:focus{
    left: -130px;
}
.speechChange h3 {
    margin: 0;
    position: absolute;
    top: 5px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.themeChange {
    position: absolute;
    left: 5000px;
    width: 120px;
    height: 65px;
    background: #e82c00;
    border-radius: 15px;
    display: flex;
    outline: 0;
    top: 34px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
}
.themeChange:focus{
    left: -130px;
}
.themeChange h3 {
    margin: 0;
    position: absolute;
    top: 5px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.themeLight {
    background: #e4e4e4!important;
}
.themeLight path{
    fill:#303030
}
.themeDark {
    background: #303030!important;
}
.themeDark path{
    fill:#f0f0f0;
}
.themeSelection {
    width: 34px;
    height: 34px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 12px;
    background: #da2800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.themeSelection svg{
    width:18px
}
.voiceSelection {
    width: 34px;
    height: 34px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 12px;
    background: #da2800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.voiceSelection svg{
    height:18px
}
.voiceSelection path{
    fill:#fff;
}
.voiceSelection:hover{
    background:#fb441a;
}
.fontSelection {
    width: 34px;
    height: 34px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 12px;
    background: #da2800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    border: 2px solid transparent;
    cursor:pointer;
    transition: all .2s ease-in-out;
}
.fontSelection:hover{
    background:#fb441a;
}
.fontSmall svg {
    width: 8px;
}
.fontSelection path{
    fill:#fff;
}
.fontMedium svg {
    width: 12px;
}
.fontLarge svg {
    width: 18px;
}
.activeSize {
    background: #f5520a;
    border: 2px solid #ff6e2d;
}
.themeLight:hover{
    background:#fff!important;
}
.themeDark:hover{
    background:#000!important;
}
.forceShowFont{
    left: -160px!important
}
.forceShowTheme{
    left: -130px!important
}
.forceShowSpeech{
    left: -130px!important
}
#backToTop {
    height: 22px;
}

/* SIDEBAR VIEW */
.sidebarView {
    width: 450px;
    position: fixed;
    right: 0px;
    top: 0px;
    height: calc(100% - 53px);
    overflow: auto;
    display: flex;
    max-width: 450px;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease-in-out;
}
.branding{
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.logo{
    height: 50px;
}
.titleHolder{
    width: 90%;
}
.titleHolder h1 {
    font-size: 26px;
    margin: 0;
    color: #ffff;
}
.searchHolder {
    height: 60px;
    min-height: 60px;
    background: #DC592A;
    width: 90%;
    border-radius: 45px;
    margin-top: 25px;
}
.searchInput {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    outline: 0;
    padding-left: 22px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 45px;
    border: 2px solid rgba(255,255,255,0);
    cursor: text;
    transition: all .2s ease-in-out;
}
.searchInput:hover{
    background:rgba(255,255,255,.1);
}
.searchInput:focus{
    background: rgb(255, 255, 255);
    border: 2px solid rgba(255,255,255,.25);
    color: #505050;
}
.searchHolder ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255,255,255,1);
    font-weight:400;
    opacity:1
}
.searchHolder ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255,255,255,1);
    font-weight:400;
    opacity:1
}
.searchHolder :-ms-input-placeholder { /* IE 10+ */
    color: rgba(255,255,255,1);
    font-weight:400;
    opacity:1
}
.searchHolder :-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,1);
    font-weight:400;
    opacity:1
}
.treeHolder {
    background: #CA3B08;
    width: 90%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.unitBlock {
    width: calc(100% - 100px);
    height: 79px;
    display: flex;
    position:relative;
    align-items: center;
    padding-left: 20px;
    padding-right: 80px;
    cursor:pointer;
    border-bottom: 1px solid rgba(0,0,0,.05);
    transition: all .2s ease-in-out;
}
.unitBlock:hover{
    background:rgba(0,0,0,.05);
}
.unitBlock h2 {
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}
.contentTree .treeBranch:last-child {
    overflow:hidden;
    border-bottom: none !important;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.contentTree .treeBranch:first-child {
    overflow:hidden;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.downProgress {
    position: absolute;
    right: 0px;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.downProgress img {
    width: 18px;
    transition: all .3s ease-in-out;
}
.hiddenPages {
    width: 100%;
    background: #b33200;
    display: none;
}
.activePage{
    display:block;
}
.activeUnit img{
    transform: rotate(180deg);
}
.unitPage {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 14px;
    cursor:pointer;
    color: #fff;
    cursor:pointer;
    transition:all .2s ease-in-out;
}
.unitPage:hover{
    background:rgba(0,0,0,.05);
}
.unitPage a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0);
    padding-bottom: 2px;
    cursor:pointer;
    transition:all .2s ease-in-out;
}
.unitPage:hover a{
    color:#fff;
    border-bottom:1px solid rgba(255,255,255,.4);
}

/* CONTENT STYLES */
.small{
    font-size:14px;
}
.medium {
    font-size:18px;
}
.large{
    font-size:22px;
}
.rightArrow polygon{
    fill:#e82c00
}
.rightArrow{
    position: absolute;
    right: -16px;
    top: 21px;
    height: 24px;
}
.topMiniNav {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    color:#303030;
    padding-bottom: 8px;
    padding-top: 6px;
    justify-content: space-between;
    margin-bottom: 25px;
}
.topMiniPrevious {
    text-align: left;
    cursor:pointer;
}
.topMiniNext {
    text-align: right;
    cursor:pointer;
}
.pageTitle {
    font-size: 15px;
    font-weight: 700;
    cursor:pointer;
    transition:all .2s ease-in-out;
}
.topMiniPrevious:hover .pageTitle, .topMiniNext:hover .pageTitle{
    color:#d73f09;
    text-decoration:underline;
}
.pageDirection {
    font-size: 10px;
    color: #505050;
}
.unitIntro{
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #505050;
    margin: 0px;
}
.pageIntro{
    text-align: center;
    font-size: 45px;
    margin: 0px;
    font-weight: 900;
    color: #303030;
    padding-left: 25px;
    padding-right: 25px;
}

/* MOBILE STYLES */
.mobile .contentView {
    width: 100%;
}
.mobile .toolbarHolder {
    right: 20px;
}
.mobile .ui_copyright {
    transform: translateX(115px);
}
.mobile footer .ui_logo {
    opacity: 1;
    transform: translateX(0px);
}
.showLogo .ui_copyright {
    transform: translateX(115px);
}
.showLogo footer .ui_logo {
    opacity: 1;
    transform: translateX(0px);
}
.hideLogo .ui_copyright {
    transform: translateX(0)!important;
}
.hideLogo footer .ui_logo {
    transform: translateX(-125px)!important;
}
.mobile .sidebarView {
    width: 100%;
    right: 50%;
    max-width: 450px;
    margin-right: -225px;
}
@media (max-width:500px){
    .mobile .sidebarView {
        width: 100%;
        max-width: 100%!important;
        right:initial!important;
        margin-right:initial!important;
    }
    .hideLogo footer .ui_logo {
        transform: translateX(0px)!important;
    }
    .hideLogo .ui_copyright{
        transform:translateX(115px)!important;
    }
    .unitIntro {
        font-size: 12px;
        padding-left:5px;
        padding-right:5px;
        line-height: 22px;
    }
    .pageIntro {
        font-size: 32px;
        margin-top:5px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 36px;
    }
}